<h2><%= l(:reminder_emails)%></h2>

<%= link_to l(:reminder_new), new_project_reminder_entry_path %>

<% if @reminder_entries.blank? %>
  <p><%= l(:reminder_not_exist) %></p>
<% else %>
  <p><%= l(:reminder_list) %></p>
  <table border="1">
    <thead>
      <tr>
        <th><%= l(:reminder_tracker) %></th>
        <th><%= l(:reminder_days) %></th>
        <th><%= l(:reminder_users) %></th>
        <th><%= l(:reminder_actions) %></th>
      </tr>
    </thead>

    <% @reminder_entries.each do |reminder_entry| %>
      <tr>
        <td> <%= getReminderTrackerName(reminder_entry.tracker_id) %> </td>
        <td> <%= reminder_entry.days %> </td>
        <td> <%= getReminderUserNames(reminder_entry.id) %> </td>
        <td>
          <%= button_to l(:button_send_now), project_reminder_entry_send_path(:reminder_entry_id => reminder_entry.id) %>
          <%= button_to l(:button_delete), project_reminder_entry_path(:id => reminder_entry.id), method: :delete, data: { confirm: l(:warning_delete) } %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
