<p>
<%= link_to l(:link_back), project_reminder_entries_path %>
</p>

<h2><%= l(:reminder_new) %></h2>

<table>
  <%= form_for :reminder, url: project_reminder_entries_path do |f| %>
    <tr>
      <th><%= f.label l(:reminder_tracker) %></th>
      <td><%= select :reminder, :tracker, options_for_select(@trackeroptions), {:include_blank => l(:tracker_all)}, {:multiple => false, :required => false} %></td>
    </tr>

    <tr>
      <th><%= f.label l(:reminder_days) %></th>
      <td><%= f.text_field :days, :type => "number", :required => true, :min => 1 %></td>
    </tr>

    <tr>
      <th><%= f.label l(:reminder_users) %></th>
      <td><%= select :reminder, :users, options_for_select(@useroptions), {}, {:multiple => true, :required => false} %></td>
    </tr>

    <tr>
      <th><%= f.submit l(:reminder_add) %></th>
    </tr>
  <% end %>
</table>

</br> <%= l(:reminder_description) %> </br></br>
<%= l(:reminder_options) %>
<li><%= l(:reminder_option_tracker) %></li>
<li><%= l(:reminder_option_days) %></li>
<li><%= l(:reminder_option_users) %></li>
